
config.json
config.json~
cogs/__pycache__/user.cpython-38.pyc
cogs/__pycache__/perfil.cpython-38.pyc
cogs/__pycache__/mod.cpython-38.pyc
cogs/__pycache__/loja.cpython-38.pyc
cogs/__pycache__/ajuda.cpython-38.pyc
base/__pycache__/utilities.cpython-38.pyc
base/__pycache__/struct.cpython-38.pyc
base/__pycache__/image.cpython-38.pyc
base/__pycache__/functions.cpython-38.pyc

.src