*.log
*.png
config.json
=4.1.0
.vscode
.pytest_cache
.idea
base/utilities.txt
base/__pycache__
cmds/__pycache__
base/db/__pycache__
profile_output.txt
__pycache__/bot.cpython-310.pyc
src/*.png
src/*.jpg
bot.py.lprof
tests
_temp
!src/imgs/extra